@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Open+Sans+Condensed:300&display=swap');

:root {
    font-family: 'Archivo Narrow';
    --main-color: black;
    --accent-color: blue;
    scroll-behavior: 
}

body {
    max-width: 980 px;
    margin: auto;
}

h1, h2, h3, div, nav, header, footer {
    margin: 0;
    padding: 0;
}

header nav. logo {
    font-family: 'Yeon Sung', cursive;
    font-size: 3rem;
    text-align:
}

header nav .menu {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
}

header nav . menu a{
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;


}
  header nav .menu {
      display: ipx solid var (--accent-color)
  }

@media (min width:320 px) {
    header nav {
        display: flex;
        align-items: center;
    }
}

header .menu {
    flex: 1;
}

header .banner {
    background-image: url(../img/couple.jpg);
    min-height: 500px;
    background-size: cover;
    background-position: center:;
    display: flex;
    flex-direction: column;
}


header .banner h1 {
    font-family: ;
    font-size: ;

}


main .product-list article img {
    display: block;
    width: 100%;
}

main .product-list article .buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

@media (min-width:560px) {
    main .product-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
    }
}


@media (min-width:660px) {
    main .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width:660px) {
    main .product-list {
        grid-template-columns: 4 1fr;
    }
}
